body {
    font-family: "Open Sans";
}

.main-wrapper h1 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #2d7788;
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
}

.main-wrapper h2 {
    color: #3F4650;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.main-wrapper p {
    text-align: justify;
}
